@if (submittedSuccessfully()) {
  <div class="success-box">Form was submitted successfully</div>
}

<form [formRoot]="reviewForm">
  <h3>Dinner Review Form</h3>
  <app-field-wrapper label="Username">
    <input type="text" [formField]="reviewForm.username" />
  </app-field-wrapper>
  <app-field-wrapper label="Role">
    <select [formField]="reviewForm.role">
      <option value="user">User</option>
      <option value="author">Author</option>
      <option value="chef">Chef</option>
    </select>
  </app-field-wrapper>
  @if (!reviewForm.email().hidden()) {
    <app-field-wrapper label="Email">
      <input type="email" [formField]="reviewForm.email" />
    </app-field-wrapper>
  }
  <app-field-wrapper label="Description">
    <textarea [formField]="reviewForm.description"></textarea>
  </app-field-wrapper>

  <div class="sub-form">
    <h4>Food</h4>
    <app-field-wrapper label="Rating">
      <input type="number" [formField]="reviewForm.food.rating" />
    </app-field-wrapper>
    <app-field-wrapper label="Recommendation">
      <select [formField]="reviewForm.food.recommendation">
        <option value="no-opinion">No Opinion</option>
        <option value="recommend">Would Recommend</option>
        <option value="not-recommend">Would Not Recommend</option>
      </select>
    </app-field-wrapper>
  </div>

  <div class="sub-form">
    <h4>Service</h4>
    <app-field-wrapper label="Rating">
      <input type="number" [formField]="reviewForm.service.rating" />
    </app-field-wrapper>
    <app-field-wrapper label="Recommendation">
      <select [formField]="reviewForm.service.recommendation">
        <option value="no-opinion">No Opinion</option>
        <option value="recommend">Would Recommend</option>
        <option value="not-recommend">Would Not Recommend</option>
      </select>
    </app-field-wrapper>
  </div>

  <button type="submit" [disabled]="reviewForm().submitting()">
    @if (reviewForm().submitting()) {
      Submitting
    } @else {
      Submit
    }
  </button>
</form>

<div class="model">
  <h3>Model Value</h3>
  <pre><code>{{ model() | json }}</code></pre>
</div>
