:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  min-height: 70px;
  background: linear-gradient(90deg, #a1b3e6 0%, #d7dfed 100%);
  box-shadow: 0 4px 16px rgba(80, 100, 200, 0.08);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #29407a;
  text-shadow: 0 1px 0 #fff, 0 2px 8px rgba(44, 80, 170, 0.07);
  padding: 0.2em 0.8em;
  user-select: none;

  app-search {
    flex-grow: 1;
  }
}
