:host {
    display: flex;
    flex-direction: row;

    span {
        color: goldenrod;
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;

        span {
            color: lightgray;
        }
    }

    &.readonly {
        span {
            cursor: not-allowed;
        }
    }
}